<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fortune teller</title>
	<style> 
		body {
			background-color: powderblue;
			text-align: center;
		}

	</style>
</head>
<body>
	<h1>Your fortune is gonna be revealed! (Nah I'm just a scammer)</h1>
	<form action="/home" method="POST">
	 <input type="text" name="birthday1" placeholder="according to your birthday (press enter)"> 
	 <br>
	 <p> <button type= "submit"> Press me to check your fortune (randomly)</button> </p>
	  </form>

</body>
</html>